# Backend Framework
fastapi~=0.111.0
uvicorn[standard]~=0.30.1
python-multipart

# Database
SQLAlchemy~=2.0.31
alembic~=1.13.1
psycopg2-binary

# Security & Authentication
passlib[bcrypt]
python-jose[cryptography]
email-validator

# Pydantic
pydantic~=2.7.4
pydantic-settings

# Machine Learning
pandas~=2.2.2
numpy~=1.26.4
scikit-learn~=1.5.0
xgboost~=2.0.3
joblib

# Other
python-dotenv
aiofiles
httpx
